.taskheading {
  padding-top: 36px;
  margin: auto;
  width: 96%;
  text-align: center;
}

.tasks {
  padding-top: 20px;
  /* padding-left: 40px; */
  display: flex;
  align-items: center;
  margin: auto;
  width: 96%;
  flex-wrap: wrap;
  justify-content: center;
  color: #94A3B8;
}

.task-content-hidden {
  display: none;
}

.task {
  margin: 10px;
  width: 274px;
  height: 230px;
  background-color: #FFFFFF;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  opacity: 0.9;
}

.task .head {
  color: #FF862F;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 20px 20px 14px 20px;
}

.task .detail {
  font-size: 0.8rem;
  padding: 0 20px;
  height: 48px;
}

.task .categorystatus {
  display: flex;
  padding: 16px 20px;
  justify-content: space-between;
}

.task .status-notstarted {
  background-color: #F7C0D4;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 4px;
  width: 20px;
  height: 20px;
}

.task .status-inprogress {
  background-color: #D2ECC6;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 4px;
  width: 20px;
  height: 20px;
}

.task .category-coding {
  color: #33BFFF;
  background-color: #F0FAFF;
  border: 8px solid #F0FAFF;
  font-size: 0.8rem;
  font-weight: bold;
}

.task .category-reading {
  color: #79C01E;
  background-color: #F0FAFF;
  border: 8px solid #F0FAFF;
  font-size: 0.8rem;
  font-weight: bold;
}

.task hr {
  color: #E2E8F0;
  background-color: #E2E8F0;
  border: none;
  height: 1px;
}

.task .shortcuts {
  display: flex;
  padding: 16px 20px;
  justify-content: flex-end;
}
