.newuser {
  margin-top: 36px;
  padding-left: 40px;
}

.labels {
  padding: 8px 0px;
  color: #FF862F;
  font-size: 1.1rem;
  font-weight: 600;
}

.buttons {
  margin-top: 6px;
  margin-right: 6px;
  width: 120px;
}

.card {
  margin: auto;
  width: 310px;
  height: 392px;
  background-color: #FFFFFF;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  opacity: 0.9;
  position: relative;
  top: 56px;
}

.card form {
  padding: 10px 28px;
  text-align: left;
}

/* .card .head {
  color: #FF862F;
  font-size: 0.9rem;
  font-weight: 900;
  padding: 20px 20px 14px 20px;
} */

.card .heading {
  padding: 26px;
  margin: auto;
  width: 96%;
  text-align: center;
  color: #FF862F;
  font-size: 34px;
}

.card input {
  width: 246px;
  color: grey;
  outline: 0;
  border-width: 0 0 1px;
  border-color: lightgrey;
}

.card input::placeholder {
  color: lightgrey
}

.forgotpassword {
  color: grey;
  text-align: left;
  margin-left: 3px;
  font-size: 0.8rem;
}

.forgotpassword:hover {
  cursor: pointer;
}

.signinbottom {
  position: absolute;
  bottom: 26px;
  left: 26px;
}

.account-signup {
  color: grey;
  font-size: 0.8rem;
  text-align: center;
  /* margin-right: 6px; */
}

.account-signup label {
  text-align: center;
}

.account-signup span {
  color: grey;
}

.account-signup span:last-child {
  /* color: #FF862F; */
  cursor: pointer;
}

.account-signup span:hover {
  cursor: pointer;
}

.button-signin {
  width: 256px;
  height: 42px;
  color: #FFFFFF;
  background-color: #00C49A;
  border: 2px solid #00C49A;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.button-signin:hover {
  cursor: pointer;
  background-color: #44D2B3;
  border-color: #44D2B3;
}