.button-save {
  width: 320px;
  height: 42px;
  color: #FFFFFF;
  background-color: #00C49A;
  border: 2px solid #00C49A;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 26px;
}

.button-save:hover {
  cursor: pointer;
  background-color: #44D2B3;
  border-color: #44D2B3;
}

.button-exit {
  width: 194px;
  height: 42px;
  color: #FFFFFF;
  background-color: #F46242;
  border: 2px solid #F46242;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  right: 26px;
}

.button-exit:hover {
  cursor: pointer;
  background-color: #F57A5E;
  border-color: #F57A5E;
}

input {
  padding: 5px 3px;
  width: 500px;
  color: grey;
  outline: 0;
  border-width: 0 0 1px;
  border-color: lightgrey;
  margin-bottom: 10px;
}

input::placeholder {
  color: lightgrey
}

textarea {
  padding: 6px 6px;
  width: 500px;
  color: grey;
  outline: 0;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 5px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 16px;
}

textarea::placeholder {
  color: lightgrey;
  position: absolute;
  padding: 2px 1px ;
}

select {
  padding: 5px 3px;
  width: 500px;
  outline: 0;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
}

select:valid {
  color:grey;
}

select:invalid {
  color:lightgrey;
}

.task-large {
  margin: auto;
  width: 592px;
  height: 472px;
  background-color: #FFFFFF;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  opacity: 0.9;
  position: relative;
}

.task-large .head {
  color: #FF862F;
  font-size: 0.9rem;
  font-weight: 900;
  padding: 24px 0px 8px 0px;
}

.task-large .form {
  padding: 10px 40px;
  text-align: left;
}

.task-large .subhead {
  color: #FF862F;
  font-size: 0.9rem;
  font-weight: 900;
  padding: 6px 0px 8px 0px;
}

.task-large hr {
  border-top: 1px dotted lightgrey;
  border-width: 1px 0 0;
  padding-bottom: 8px;
  width: 500px;
}

@media screen and (max-width: 900px) {
  .task-large {
    width: 310px;
  }
  .task-large .form {
    padding-left: 32px;
  }
  .task-large hr {
    width: 246px;
  }
  .button-save {
    width: 150px;
  }
  .button-exit {
    width: 90px;
  }
  input {
    width: 246px;
  }
  textarea {
    width: 246px;
  }
  select {
    width: 246px;
  }
}
