@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro');

.navbar {
  display: flex;
  min-width: none;
  margin: auto;
}

.navbar h1 {
  font-family: "Anonymous Pro";
  font-size: 3.8rem;
}

.navbar p {
  font-size: 0.9rem;
}

.navbar ul {
  display: flex;
  font-weight: bold;
  height: auto;
}

.navbar a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.2rem;
  white-space: nowrap;
}

.navbar img {
  width: 80px;
}

.navbar .logo-with-text {
  display: grid;
  align-items: left;
  grid-template-columns: auto auto 1fr;
  flex: 50%;
}

.menu-icon {
  display: block;
  position: absolute;
  top: 20px;
  right: 10px;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.menu-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.nav-menu.default {
  display: flex;
  min-width: none;
}

.nav-menu.block {
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 150px;
  display: block;
  opacity: 1;
  transition: all 0.5s ease;
  background-color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .nav-menu.default {
    display: none;
  }
  .nav-menu.block li {
    padding-left: 40px;
    border-bottom: 2px #00C49A solid;
  }

  .nav-links {
    color: #00C49A;
  }
}

@media screen and (min-width: 900px) {
  .menu-icon {
    display: none;
  }
  .nav-menu.block {
    display: none;
  }
}
