* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  margin: 2rem 6rem;
  background-color: #00C49A;
  color: #FFFFFF;
}

.content {
  min-width: 370px;
  max-width: 1366px;
  margin: auto;
}

.banner {
  padding: 52px;
}

.banner h1 {
  font-size: 5rem;
}

.banner p {
  padding-top: 16px;
  font-size: 1.1rem;
  max-width: 560px;
}

.banner .white {
  color: #FFFFFF;
}

.banner .yellow {
    color: #F5EA83;
}

.home, .about, .plan, .log-in {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

@media screen and (max-width: 900px) {
  body {
    margin: 2rem 2rem;
  }
  .banner {
    padding: 34px 52px;
  }
  .banner h1 {
    font-size: 2.3rem;
  }
}