@import url('https://fonts.googleapis.com/css2?family=Raleway');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Roboto"; */
  font-family: "Raleway"
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

body {
  margin: 2rem 6rem;
  background-color: #00C49A;
  color: #FFFFFF;
}

button {
  width: 274px;
  height: 42px;
  color: #FFFFFF;
  background-color: #00C49A;
  border: 2px solid #E2E8F0;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #44D2B3;
}

.content {
  min-width: 370px;
  max-width: 1366px;
  margin: auto;
}

.home, .about, .plan, .log-in {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

@media screen and (max-width: 900px) {
  body {
    margin: 2.2rem 1.8rem;
  }
  .content {
    min-width: 320px;
    max-width: 480px;
    margin: auto;
  }
}